* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-none {
  text-decoration: none;
}

.list-none {
  list-style-type: none;
}

.container-90 {
  margin: 0 auto;
  width: 90%;
}

.container-80 {
  margin: 0 auto;
  width: 80%;
}

.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.display-flex {
  display: flex;
}

.white {
  color: white;
}

.padding-tb {
  padding: 20px 0px;
}

.fs-20 {
  font-size: 20px !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.img {
  width: 100%;
  display: block;
}

.margin-tb {
  margin: 20px 0px;
}

.course-list li {
  margin: 20px 0px;
  font-size: 20px;
}

.html-list li {
  margin: 10px 0px;
  font-size: 15px;
  color: #000000bd;
}

.bg-white {
  background-color: #fafafa;
}

.border-bottom {
  border-bottom: 3px solid #1a0d60;
}

.text-blue {
  color: #3a7cce;
}

footer {
  background-color: #022d5d;
  color: white;
}

footer li {
  margin: 20px 0px;
  cursor: pointer;
}

.dropdown > a {
  transition: all 0.3s;
}

.dropdown > a:hover {
  color: #022d5d;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 4px 1px #022d5d;
  background-color: white;
}

.fs-30 {
  font-size: 30px;
}
