* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-none {
  text-decoration: none;
}

.display-none {
  display: none !important;
}

.inline-block {
  display: inline-block;
}

.list-none {
  list-style-type: none;
}

.container-90 {
  margin: 0 auto !important;
  width: 90% !important;
}

.container-80 {
  margin: 0 auto !important;
  width: 80% !important;
}

.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.grid-6 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.display-flex {
  display: flex;
}

.flex {
  flex: 1;
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

.black {
  color: black;
}

.padding-tb {
  padding: 20px 0px;
}

.padding-lr {
  padding: 0px 10px;
}

.fs-20 {
  font-size: 20px !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.img {
  width: 100%;
  display: block;
}

.margin-tb {
  margin: 20px 0px;
}

.margin-tb-10 {
  margin: 10px 0px;
}

.margin-tb-50 {
  margin: 50px 0px;
}

.margin-tb-5 {
  margin: 5px 0px;
}

.course-list li {
  margin: 20px 0px;
  font-size: 20px;
}

.html-list li {
  margin: 10px 0px;
  font-size: 15px;
  color: #000000bd;
}

.bg-white {
  background-color: #fafafa;
}

.border-bottom {
  border-bottom: 3px solid #1a0d60;
}

.text-blue {
  color: #3a7cce;
}

.justify-center {
  justify-content: center;
}

footer {
  background-color: #022d5d;
  color: white;
}

footer li {
  margin: 20px 0px;
  cursor: pointer;
}

.dropdown > a {
  transition: all 0.3s;
}

.dropdown > a:hover {
  color: #022d5d;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 4px 1px #022d5d;
  background-color: white;
}

.fs-30 {
  font-size: 30px;
}

.logo {
  max-width: 100%;
  display: block;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: -2px;
  top: -3px;
}

.border-course {
  border: 1px solid #00000021;
  padding: 15px 20px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  /* background-color: #ccc; */
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.catalog {
  background: #ef7215 !important;
  min-height: 500px;
  padding: 90px 0px;
}

.owl-item {
  width: 128.906px;
  margin-right: 10px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  margin: 0 auto;
  width: 60%;
}
.form-group {
  margin: 10px 0px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 2px;
}
table {
  border: 1px solid gray;
  border-collapse: collapse;
}
table tr td,
th {
  border: 1px solid gray;
  padding: 10px;
}
.text-01 {
  box-shadow: 0px 0px 3px #2e365f;
  margin: 10px 0px;
  padding: 3px 1px;
  border-radius: 2px;
}
.text-01 > h1 {
  text-align: center;
  font-size: 20px;
}
.text-01 > img {
  display: block;
  width: 100%;
  height: 400px;
}
.text-01 > p {
  padding: 3px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.card-gradient {
  background: rgb(19, 7, 226);
  background: linear-gradient(
    90deg,
    rgba(19, 7, 226, 0.9501050420168067) 0%,
    rgba(132, 132, 232, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px 9px;
  border-radius: 0px 0px 0px 21px;
}

.card img {
  border-radius: 100px;
}

.flex .card {
  margin: 36px 9px;
  padding: 13px 6px;
  border-radius: 0px 0px 0px 16px;
}

.baba-logo {
  background-color: #022d5d;
  border-radius: 29px;
  margin: 0px 67px;
  height: 41px;
  font-size: 13px;
}

.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

/* MediaQuery */

@media (max-width: 576px) {
  .grid-3 {
    display: block;
  }

  .grid-4 {
    display: block;
  }

  .grid-4 div {
    margin: 10px 0px;
    justify-content: center;
  }

  .navicon {
    display: block !important;
    text-align: right;
    margin: 0px 20px;
  }

  #navbar {
    display: none;
  }

  .dropdown > a {
    margin: 0px 10px;
  }

  .dropdown {
    margin: 20px 0px !important;
  }

  .sticky .container-80 {
    border-bottom: 1px solid #80808038;
  }
}
